---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
const icons = Object.entries(import.meta.glob('../icons/skills/*.svg' , { eager: true }))
---

<Layout title="Skills of Derek">
  <div class="text-center">
    <h2 class="text-orange-400 mb-2 font-semibold">Ua lilo &#699;ia kēia mau mākau lolouila e a&#699;u</h2>
    <h3 class="font-semibold">(These computer skills have been absorbed by me)</h3>
    <ul>
    {icons.map(icon => {
      const name = icon[0].match(/\/([^/]+)\.svg/)[1];
      return (
        <li>
          <Icon name={`skills/${name}`} size={84} />
          <p>{name.replace('_', ' ')}</p>
        </li>
      )
    })}
    </ul>
  </div>
</Layout>

<style>
  @reference "../styles/global.css";
  ul {
    @apply flex flex-wrap justify-center gap-4;
    li {
      @apply bg-white text-slate-900 rounded-sm p-3 w-fit;
    }
  }
</style>