---
import Pop from "./Pop.astro";
import { Icon } from "astro-icon/components";
---

<div class="mt-4 border-t-1 border-white p-4">
  <div class="flex gap-4">
    <div class="flex items-baseline">
      <Icon name="footer/locmark" size={36} class="text-white" />
      <p>Maui, HI (HST) | <a class="hover:text-orange-400" href="mailto:bal.derek.j@gmail.com">bal.derek.j@gmail.com</a> | <a class="hover:text-orange-400" href="tel:8082500132">808-250-0132</a></p>
    </div>
    <div class="flex ml-auto gap-2">
      <a target="_blank" href="https://linkedin.com/in/derek-joshua-bal/"><Icon name="footer/linkedin" size={48} class="text-orange-400 hover:text-white" /></a>
      <a target="_blank" href="https://github.com/balderekjk2/"><Icon name="footer/github" size={48} class="text-orange-400 hover:text-white" /></a>
    </div>
  </div>
</div>